.fire{
    color: black;
    background-color: #f5d020;
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
    border-radius: 10px;
    cursor: pointer;
}

.vol{
    color: rgb(0, 0, 0);
    background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
    border-radius: 10px;
    cursor: pointer;
}